[Desktop Entry]
Name=Vman
GenericName=Vman App
Comment=Vman is a Vagrant Management tool
Categories=Utility;Development;
Exec=com.github.fernandofreamunde.vman
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=vman
Keywords=Vagrant;Manager;tool;
